@{
    ViewBag.Title = "Home Page";
}
<main>
    <section class="row" aria-labelledby="title">
        <h1 id="title" style="padding-bottom:4%;padding-top:2%">Welcome to the home page</h1>
        <p class="lead">The Artworks, Clients, Jobs and Orders can be viewed. </p>
        <br />
        <p class="lead">For more information please see the relevant sections below:</p>
        <br />
        <div style="background-color:peachpuff;width:60%;padding-top:1%;padding-left:5%;font-size:130%;margin-left:2%;margin-top:2%">
            <p>Contents</p>
            <p class="link" style="margin-left:5%;margin-top:5%"><a href="#ArtworkTitle">Artworks</a><span style="display:none"> - Creative works produced by different Jobs</span></p>
            <p class="link" style="margin-left:5%"><a href="#ClientTitle">Clients</a><span style="display:none"> - Customers that can make Orders of Artworks they need</span></p>
            <p class="link" style="margin-left:5%"><a href="#JobTitle">Jobs</a><span style="display:none"> - Create Artworks that can be placed for order</span></p>
            <p class="link" style="margin-left:5%"><a href="#OrderTitle">Orders</a><span style="display:none"> - Artworks made by Jobs can be ordered by Clients</span></p>
        </div>
    </section>
    <br />
    <div class="row" style="width:100%;margin-top:5%">
        <section class="col-md-4" aria-labelledby="ArtworkTitle" style="width:100%;padding:5%">
            <h2 id="ArtworkTitle">Artworks</h2>
            <img src="../Artwork.png" alt="Artwork" style="height:80%;width:40%;float:right;margin-left:10%;margin-top:5%">
            <p style="margin-top:7%">
                Artworks can be created and deleted and if there is a need to change the details can be edited too.
            </p>
            <p style="margin-top:5%">To get started please click here:</p>
            <p style="margin-top:5%">@Html.ActionLink("View Artworks", "Index", "Artworks")</p>
        </section>
    </div>
    <br />
    <div class="row" style="width:100%;margin-top:5%">
        <section class="col-md-4" aria-labelledby="ClientTitle" style="width:100%;padding:5%">
            <h2 id="ClientTitle">Clients</h2>
            <img src="../Client.png" alt="Client" style="height:80%;width:40%;float:left;margin-right:10%;margin-top:5%">
            <p style="margin-top:7%">
                Clients can be created and deleted and if there is a need to change the details can be edited too.
            </p>
            <p style="margin-top:5%">To get started please click here:</p>
            <p style="margin-top:5%">@Html.ActionLink("View Clients", "Index", "Clients")</p>
        </section>
    </div>
    <br />
    <div class="row" style="width:100%;margin-top:5%">
        <section class="col-md-4" aria-labelledby="JobTitle" style="width:100%;padding:5%">
            <h2 id="JobTitle">Jobs</h2>
            <img src="../Job.png" alt="Job" style="height:80%;width:40%;float:right;margin-left:10%;margin-top:5%">
            <p style="margin-top:7%">
                Jobs can be created and deleted and if there is a need to change the details can be edited too.
            </p>
            <p style="margin-top:5%">To get started please click here:</p>
            <p style="margin-top:5%">@Html.ActionLink("View Jobs", "Index", "Jobs")</p>
        </section>
    </div>
    <br />
    <div class="row" style="width:100%;margin-top:5%">
        <section class="col-md-4" aria-labelledby="OrderTitle" style="width:100%;padding:5%">
            <h2 id="OrderTitle">Orders</h2>
            <img src="../Order.png" alt="Order" style="height:80%;width:40%;float:left;margin-right:10%;margin-top:5%">
            <p style="margin-top:7%">
                Orders can be created and deleted and if there is a need to change the details can be edited too.
            </p>
            <p style="margin-top:5%">To get started please click here:</p>
            <p style="margin-top:5%">@Html.ActionLink("View Orders", "Index", "Orders")</p>
        </section>
    </div>
</main>